.encabezado {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: top;
  padding: 400px 20px 300px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
