.detalle-container {
  max-width: 420px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: rgb(252, 252, 252);
}

.detalle-imagen {
  width: 200px; /* Ancho fijo */
  height: 200px; /* Mantiene la proporción */
  object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

.detalle-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
